*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */
header {
    position: sticky;
    top: 0;
    background: #fff;
}
.user_photo {
    width: 40px;
    height: 40px;
    border-radius: 100vh;
    margin-right: 15px;
    object-fit: contain;
    border: 1px solid #ddd;
    aspect-ratio: 3/2;
}
.user_wrapper {
    display: flex;
    align-items: center;
}
.user_wrapper h5 {
    color: #000;
    margin-bottom: 0;
}
.user_wrapper i.fa-cog {
    color: #000;
    margin-top: 3px;
}
.active_status {
    width: 10px;
    height: 10px;
    background: #4ED965;
    border-radius: 100vh;
    margin-right: 6px;
}
.user_wrapper span {
    color: #313131;
    font-size: 17px;
}
.navbar-nav a.nav-link i {
    color: #212121;
    font-size: 20px;
    margin-left: 10px;
}
.navbar-nav .call_icon {
    background: #2475C4;
    border-radius: 100vh;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.navbar-nav .call_icon i {
    margin-left: 0 !important;
    color: #fff !important;
    font-size: 18px !important;
}
.navbar-nav .call_icon:hover{
    background: #1054AD;
}
.navbar{
    border-bottom: 1px solid #E1E1E1;
}
/* Conversation */
.sender {
    display: flex;
}
.sender_txt{
    margin-bottom: 2px;
}
.sender_text {
    background: #F1F1F1;
    padding: 10px;
    padding-right: 15px;
    border-radius: 10px;
    margin-right: 7px;
}
.sender_text.t{
    border-top-left-radius: 0;
}
.sender_text.m{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
small.text-muted {
    font-size: 13px;
}
.reciver {
    text-align: right;
}
.reciver .rc_action {
    color: #6c757d;
    font-size: 12px;
    margin-left: 10px;
}
.sender_text_wrapper .fa-smile {
    color: #A7AAAD;
    font-size: 15px;
}
.reciver_text {
    background: #CCF7FF;
    width: max-content;
    margin-left: auto;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 2px;
}
.reciver_text.t{
    border-bottom-right-radius: 0;
}
.reciver_text.md{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.reciver_text.b{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.sender .user_photo {
    margin-top: 5px;
}
.sender_reply .fa-reply {
    color: #252423;
    margin-bottom: 8px;
}
.sender_reply .dvdr{
    border-bottom: 1px solid;
    margin-top: 12px;
    margin-bottom: 10px;
}
/* Footer */
footer {
    padding-bottom: 20px;
    position: sticky;
    bottom: 0;
    background: #fff;
}
.footer_top a {
    text-decoration: none;
}
.footer_top {
    padding: 15px 0;
}
.footer_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_icon {
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    list-style: none;
}
.srch_box {
    background: #F1F1F1;
    width: 700px;
    padding: 13px;
    border-radius: 100vh;
    position: relative;
}
.srch_box input[type="text"] {
    width: 100%;
    padding: 0 36px;
    background: transparent;
    border: 0;
}
.srch_box input[type="text"]:focus{
    box-shadow: none !important;
    border: 0 !important;
    outline: 0 !important;
}
.srch_box .fa-smile {
    position: absolute;
    left: 18px;
    top: 16px;
    color: #000000c7;
    font-size: 20px;
    cursor: pointer;
}
.srch_box .fa-smile:hover{
    color: #66676dad;
}
.srch_box .fa-edit {
    position: absolute;
    right: 18px;
    top: 16px;
    color: #000000bd;
    cursor: pointer;
    font-size: 15px;
}
.srch_box .fa-edit:hover{
    color: #66676dad;
}
.footer_icon a {
    color: #000000bd;
    font-size: 16px;
    width: 40px;
    height: 40px;
    background: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    margin-left: 10px;
}
.footer_icon a:hover{
    color: #66676dad;
}